<div class="container" >
 <input type="radio" id="form1" name="form" >
  <label for="form1">Formulario Persona Fisica</label>
  <input type="radio" id="form2" name="form" >
  <label for="form2">Formulario Empresa</label>
  <form action="/tasks/add" method="post" >
  <div id="formID">
    <img src="/icons/LogoTesoreria-1.png" width="130" height="80" >
      <img src="/icons/logomopc.png" width="100" height="50" style="margin: 0 0 0 52%;">
    <div class="row" style="margin: 2% 0 0 0;">
      <div class="col-1">
        <label class="form-label" for="formNo">Form.No</label>
      </div>
      <div class="col-2">
        <input
          id="formNo"
          class="form-control sin-borde"
          type="number"
          name="formNo"
          placeholder="Numero de Formulario"
        />
        
        </div>
    </div>
    </br>
    <div class="row">
      <h5 style="text-align: center;">Ministerio de Obras Publicas y Comunicaciones</h5>
      <h5 style="text-align: center;">(MOPC)</h5>
    </div>
    <br />
    <h5 style="text-align: center;">Formulario Entrega de Recursos</h5>
    <h5 style="text-align: center;">Fondo Reponible Institucional</h5>
    {{! input ck}}
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="ck">#CK</label></div>
      <div class="col-4">
        <input
          id="ck"
          class="form-control sin-borde"
          type="text"
          name="ck"
          placeholder="CK"
        /></div></div>

    {{! Input nombre/apellido }}
    <div id="form1-content">
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="nombre">Nombres</label></div>
      <div class="col-4">
        <input
          id="nombre"
          class="form-control sin-borde"
          type="text"
          name="nombre"
          placeholder="Nombre"
        /></div>

      <div class="col-2" style="margin:0 -7% 0 0;">
        <label class="form-label" for="apellido">Apellidos</label></div>
      <div class="col-4">
        <input
          id="apellido"
          class="form-control sin-borde"
          type="text"
          name="apellido"
          placeholder="Apellido"
        /></div>

    </div>
    {{! Input cedula/puesto}}
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="cedula">Cedula</label></div>
      <div class="col-4">
        <input
          id="cedula"
          class="form-control sin-borde"
          type="text"
          name="cedula"
          placeholder="Cedula"
        /></div>

      <div class="col-2" style="margin:0 -7% 0 0;">
        <label class="form-label" for="puesto">Puesto</label></div>
      <div class="col-4">
        <input
          id="puesto"
          class="form-control sin-borde"
          type="text"
          name="puesto"
          placeholder="Puesto"
        /></div>

    </div>
    {{! Input departamento}}
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="departamento">Dep.</label></div>
      <div class="col-9" style="padding: 0 -1% 0 0;">
        <input
          id="departamento"
          class="form-control sin-borde"
          type="text"
          name="departamento"
          placeholder="Departamento"
        /></div>
    </div>
    </div>

    <div id="form2-content" style="display:none;">
      <div class="row">
     <div class="col-1">
        <label class="form-label" for="cedula">RNC</label></div>
      <div class="col-4">
        <input
          id="RNC"
          class="form-control sin-borde"
          type="text"
          name="RNC"
          placeholder="RNC"
        /></div>

       <div class="col-1">
        <label class="form-label" for="nombreEmpresa">Nombres</label></div>
      <div class="col-4">
        <input
          id="nombreEmpresa"
          class="form-control sin-borde"
          type="text"
          name="nombreEmpresa"
          placeholder="Nombre"
        /></div>

    </div>
    </div>
    {{! Input CK/MOTIVO ck }}
    <div class="row">

      <div class="col-2"  style="margin:0 -7% 0 0;">
        <label class="form-label" for="motivoCK">Motivo CK</label></div>
      <div class="col-9">
        <textarea
          id="motivoCK"
          class="form-control sin-borde"
          name="motivoCK"
          cols="20"
          placeholder="Motivo de CK"
        ></textarea></div>

    </div>
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="fecha">Fecha</label></div>
      <div class="col-4" >
        <input
          id="fecha"
          class="form-control sin-borde"
          type="date"
          name="fecha"
          placeholder="Fecha"
        /></div></div>
</br>
    <h5 style="padding: 0 0 0 42%;">Entregado por</h5>
    </br> 
    {{! Input nombre/apellido }}
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="nombreRecibido">Nombres</label></div>
      <div class="col-4">
        <input
          id="nombreRecibido"
          class="form-control sin-borde"
          type="text"
          value="CLAUDIA M."
          name="nombreRecibido"
          placeholder="Nombre"
        /></div>

      <div class="col-2" style="margin:0 -7% 0 0;">
        <label class="form-label" for="apellidoRecibido">Apellidos</label></div>
      <div class="col-4">
        <input
          id="apellidoRecibido"
          class="form-control sin-borde"
          type="text"
          value="HERRERA MEDINA"
          name="apellidoRecibido"
          placeholder="Apellido"
        /></div>

    </div>
    {{! Input cedula/puesto}}
    <div class="row">
      <div class="col-1">
        <label class="form-label" for="cedulaRecibido">Cedula</label></div>
      <div class="col-4">
        <input
          id="cedulaRecibido"
          class="form-control sin-borde"
          type="text"
          name="cedulaRecibido"
          value="001-0111647-3"
          placeholder="Cedula"
        /></div>

      <div class="col-2" style="margin:0 -7% 0 0;">
        <label class="form-label" for="puestoRecibido">Puesto</label></div>
      <div class="col-4">
        <input
          id="puestoRecibido"
          class="form-control sin-borde"
          type="text"
          name="puestoRecibido"
          value="ANALISTA FINANCIERA"
          placeholder="Puesto"
        /></div>

    </div>
    </br>
     </br>
     <div class="row">
      <div class="col-5" style="margin:0 -7% 0 7%; padding:0 6% 0 3%;">
        <input
          class="form-control sin-borde"
          type="text"
        /></div>
<div class="col-1"></div>
        <div class="col-5" style="padding:0 8% 0 1%;">
        <input
          class="form-control sin-borde"
          type="text"
        /></div>

    </div>
        <div class="row">
<div class="col-2"></div>
      <div class="col-5">
        <label class="form-label">Entregado Por</label></div>
        <div class="col-2">
        <label class="form-label">Recibido por</label></div>

    </div>
    {{!-- <button class="btn btn-primary" type="submit">Guardar</button> --}}
</div>
  </form>
    <button class="btn btn-primary" onclick="genPDF()">Imprimir</button>
    
    <script>
      var count = localStorage.getItem("count");
     function genPDF(){
    html2canvas(document.querySelector("#formID")).then(canvas => {
    var pdf = new jspdf.jsPDF();
    pdf.addImage(canvas.toDataURL('image/jpg'),'JPG',20, 30, 190, 190);
   //pdf.output('datauristring');
    pdf.save(`${count}`+".pdf");
});
}
    </script>
    <script>

      var count = localStorage.getItem("count");
if (count == null) {
    count = 0;
}
count++;
localStorage.setItem("count", count);
    document.getElementById("formNo").value = count;
</script>
<script>
  const form1 = document.getElementById("form1");
const form2 = document.getElementById("form2");
const form1Content = document.getElementById("form1-content");
const form2Content = document.getElementById("form2-content");

form1.addEventListener("change", function() {
  form1Content.style.display = "block";
  form2Content.style.display = "none";
});

form2.addEventListener("change", function() {
  form1Content.style.display = "none";
  form2Content.style.display = "block";
});
</script>
</div>